HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

.settings/
/target
/*/.factorypath
/*/.DS_Store
/*/.classpath
/*/.project
/*/.settings
/*/.iml
/*/target
*.log
/teamplay-models/target/
/teamplay-graphql/target/
/teamplay-offline/target/
/teamplay-resources/target/
/webpack.generated.js
/webpack.config.js
/package-lock.json
/package.json
/node_modules/